* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;

}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    height: 100vh;
    width: 100%;
}

.container {
    height: 50%;
    width: 50%;
    margin: auto;
    background-color: rgba(205, 242, 242, 0.8);
    border-radius: 30px 15px 20px 40px;
    padding: 20px;
    position: relative;
    box-shadow: 0 0 4rem aqua;


}


.first-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;

}

span {
    font-size: 50px;
    margin-top: 80px;
    
}

 h1 {
    font-size: 50px;
    color: rgb(250, 100, 125);

}

.first-page p, .second-page p {
    color: rgb(65, 63, 63);
}

.btn , .final-btn{
    display: block;
    position: absolute;
    bottom: 30px;
    background-color: rgb(232, 101, 123);
    padding: 12px 20px;
    border: 2px solid transparent;
    border-radius: 15px;
    cursor: pointer;
    color: white;
    font-weight: 600;
}



.second-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.second-page p {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

.second-page span{
    margin-bottom: 20px;
}




.third-page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.third-page h1{
    margin-top: 30px;
    text-align: center;
}

.third-page span{
    font-size: 24px;
}

.third-page .boxes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;    
    
    padding: 20px;
    text-align: center;

}

.third-page .boxes .box{

    background-color: white;
    margin: 20px;
    padding: 20px 40px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 1.2rem rgb(78, 75, 75);
}

.third-page .boxes .box h3{
    margin-top: 10px;
}

.third-page .boxes .box p{
    margin-top: 5px;
    width: 100%;
}



.page-four  {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.content .image  p{
    font-size: 24px;
}




.page-four .image{

display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

}
.page-four .image img{
width: 150px;
height: 150px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    border: 3px solid pink;
}

.page-four p{
    margin-top: 10px;
}




.page-five{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.page-five span{
    font-size: 30px;
}

.page {
  display: none;
  transition: opacity 0.3s ease;
}
.page.active {
  display: block;
  opacity: 1;
}





