@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&display=swap');
 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wishes{
    font-family: "Momo Signature", cursive;
    min-height: 100vh;
    width: 100%;
}



#wishes .container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 100px;
    margin-top: 200px;
}

.text-content h2{
    color: rgb(227, 108, 173);
    font-size: 50px;
}

.text-content p{
    margin-top: 20px;
    text-align: center;
}

/* Container grid */
.boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colonnes */
    justify-content: center;
    align-items: center;
    gap: 15px 50px;
    padding: 50px;
}

/* Chaque box */
.boxes .box {
    width: calc(1200px / 2); 
    height: 300px;
    perspective: 1000px; /* nécessaire pour 3D */
    cursor: pointer;
}

/* Flip container (front + back) */
.box .front, .box .back {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    backface-visibility: hidden; /* cache le verso quand front visible */
    position: absolute;
    top: 0;
    left: 0;
    
    transition: transform 0.6s;
}

/* recto */
.box .front {
    background-color: rgb(240, 229, 229);
    color: black;
    z-index: 2;
}

/* verso */
.box .back {
    background-color: rgb(241, 174, 185);
    color: white;
    transform: rotateY(180deg); /* côté arrière */
}

/* classe flip */
.box.flipped .front {
    transform: rotateY(180deg);
}
.box.flipped .back {
    transform: rotateY(0deg);
    border: 5px solid rgb(236, 177, 191);
    box-shadow: 0 0 2rem pink;
}

/* icône */
.box i {
    font-size: 60px;
    margin-bottom: 20px;
    position: relative;

    animation: move 2s infinite ease-in-out alternate;
}

/* animation verticale */
@keyframes move {
    from {
        top: 0;
    }
    to {
        top: 20px;
    }
}

/* titre */
.box h2 {
    margin-top: 10px;

     font-family: "Momo Signature";
     

}

.box p{
    margin-top: 15px;
}

/* lien */
.box a {
    font-size: 24px;
    margin-top: 20px;
    text-decoration: none;
    color: gray;
    font-family: 'Times New Roman', Times, serif;
}

/* responsive pour mobile */
@media (max-width: 768px) {
    .boxes {
        grid-template-columns: 1fr; /* 1 colonne */
        gap: 20px 0;
    }

    .box {
        width: 90%;
        height: 250px;
    }
}
