* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar {
    width: 100%;
    height: 60px;
    background-color: rgb(248, 247, 247);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 .6rem rgb(244, 234, 234);
    position: fixed;
    z-index: 1000;
    top: 0;
    box-shadow: 0 2px 5px rgb(137, 139, 139);

}

nav ul {

    text-decoration: none;

}

nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;

}


nav ul li a {
    text-decoration: none;
    padding: 10px 20px;
    margin-left: 20px;
    color: rgb(132, 96, 96);
    font-size: 16px;
    font-weight: 500;
    border-radius: 20px;
    transition: all 0.3s ease; 
}

nav ul li a:hover  {
    background-color: rgb(124, 116, 122, 0.3);
    
    color: rgb(15, 13, 13); /* اللون ديال النص يتبدل */
}






nav ul li a i {
    color: rgb(87, 82, 82);

}